.button {
  background-color: #FFF;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-neutral-700);
  padding: 8px 16px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}