:root {
  --color-primary: #5C16C5;
  --color-secondary: #2D0C5E;
  --color-contrast: #D18000;
  --color-neutral-300: #DDD;
  --color-neutral-500: #646464;
  --color-neutral-700: #323232;
  --color-neutral-900: ##131313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
}

.container  {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 16px;
  }
}